---
layout: base
---
{% include title.html %}
<div id="slpModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Are you using your Dalton student laptop right now?</h4>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default inlineDl">No, I'm not</button>
				<button type="button" class="btn btn-default slp">Yes, I am</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="notAvailable" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Sorry, CoursesPlus isn't available for your browser</h4>
			</div>

			<div class="modal-body">
				<p>Currently, Courses<strong>Plus</strong> is only compatible with Google Chrome on your computer. We are working hard to make it available on other platforms!</p>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="scrollStay">
	<section id="desc">
		Courses<strong>Plus</strong> is an extension that makes Dalton Courses <em>awesome</em>.
	</section>
	<section class="download">
		<a href="/download" class="btn downloadBtn"><i class="fa fa-download"></i> Get now</a>
		<br />
		<div class="browserInfo">
			for <img src="img/chrome.png" class="chrome"/> Google Chrome
		</div>
	</section>
</div>
{% include nav.html %}
<section class="feature f1">
	<div class="feature-lead">Make it yours</div>
	<div class="feature-desc">Hundreds of different customization options allow you to tweak and change every aspect of Courses how you want.</div>
</section>
<section class="feature f2">
	<div class="feature-lead">Services</div>
	<div class="feature-desc">Check the weather, check your schedule, check what's for lunch.<br/><small>Image is from <a href="http://commons.wikimedia.org/wiki/File:Appearance_of_sky_for_weather_forecast,_Dhaka,_Bangladesh.JPG">Wikimedia Commons</a>.</small></div>
</section>
<section class="feature f3">
	<div class="feature-lead">Add a background</div>
	<div class="feature-desc">It can be a GIF or just a normal picture</div>
</section>
<script src="/js/index.js"></script>
