---
layout: base
---
{% include title.html %}
<div id="scrollStay">
	<section id="desc">
		Courses<strong>Plus</strong> is an extension that makes Dalton Courses <em>awesome</em>.
	</section>
	<section class="download">
		<a href="./download" class="btn downloadBtn"><i class="fa fa-download"></i> Get now</button>
		<br />
		<div class="browserInfo">
			for <img src="img/chrome.png" class="chrome"/> Google Chrome
		</div>
	</section>
</div>
{% include nav.html %}
<section class="feature f1">
	<div class="feature-lead">Make it yours</div>
	<div class="feature-desc">Hundreds of different customization options allow you to tweak and change every aspect of Courses how you want.</div>
</section>
<section class="feature f2">
	<div class="feature-lead">Services</div>
	<div class="feature-desc">Check the weather, check your schedule, check what's for lunch.<br/><small>Image is from <a href="http://commons.wikimedia.org/wiki/File:Appearance_of_sky_for_weather_forecast,_Dhaka,_Bangladesh.JPG">Wikimedia Commons</a>.</small></div>
</section>
<section class="feature f3">
	<div class="feature-lead">Add a background</div>
	<div class="feature-desc">It can be a GIF or just a normal picture</div>
</section>
<script src="/js/index.js"></script>