<section class="moreLinks">
	<a href="/screenshots" class="btn moreBtn"><i class="fa fa-picture-o"></i> Screenshots</a>
	<a href="/changelog" class="btn moreBtn"><i class="fa fa-clock-o"></i> Changelog</a>
	<a href="/beta" class="btn moreBtn"><i class="fa fa-code"></i> Public Beta</a>
	<a href="/archive" class="btn moreBtn"><i class="fa fa-archive"></i> Archived Versions</a>

	<a href="/features" class="btn moreBtn"><i class="fa fa-list"></i> Features</a>
	<a href="https://chrome.google.com/webstore/detail/coursesplus/pieincmodljnbihihjnapcmhdddhbpgi" class="btn moreBtn"><i class="fa fa-info-circle"></i> Chrome Web Store page</a>
</section>