<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} - {% endif %}CoursesPlus</title>

		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1" />

		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/pieincmodljnbihihjnapcmhdddhbpgi" />

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/index.css" />

		<script src="/js/jquery-1.11.2.min.js"></script>
		<script src="/js/jquery-scrolltofixed-min.js"></script>
		<script src="/js/bootstrap.min.js"></script>

		<!-- Piwik -->
		<script type="text/javascript">
		  var _paq = _paq || [];
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
		    var u="http://piwik.coursesplus.tk/";
		    _paq.push(['setTrackerUrl', u+'piwik.php']);
		    _paq.push(['setSiteId', 2]);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<noscript><p><img src="http://piwik.coursesplus.tk/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
		<!-- End Piwik Code -->
	</head>
	<body>
		{{ content }}
		<footer>
			Courses<strong>Plus</strong> is <a href="https://github.com/CoursesPlus/CoursesPlus">open-source software</a> licensed under the <a href="/mitlicense">MIT license</a>.
		</footer>
	</body>
</html>
